name: Mobile Banking Canary CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push OLD UI
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mobile-bank-v1:latest ./old-ui
        docker push ${{ secrets.DOCKER_USERNAME }}/mobile-bank-v1:latest

    - name: Build and push NEW UI
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/mobile-bank-v2:latest ./new-ui
        docker push ${{ secrets.DOCKER_USERNAME }}/mobile-bank-v2:latest
